@charset "UTF-8";
/*Variaveis de cores*/
/*Configuração inicial pra padronizar o design em tds navegadores*/
*
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.4%; }

body {
  box-sizing: border-box; }

/*Animação do Header main*/
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/*Animação do Header sub*/
@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveInBotton {
  0% {
    opacity: 0;
    transform: translateY(80px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*Configuração de fonte para o body*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

/*Texto do header, todo em H1 pois o Google usa o H1 para identificar do que se trata o site*/
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: MoveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: MoveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.btn {
  /*Tira o sublinhado e deixa maiusculo o botão/link e configura o position pra animação*/
  /* Cria a sombra do botão */
  /* Tira a sombra quando clica*/
  /*Coloca um segundo botão atrás que aumenta de tamanho pra criar o efeito*/
  /*move o botão pra cima ao iniciar*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.267);
    /*Animação do botão de trás*/ }
    .btn:hover::after {
      transform: scaleX(1.3) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-2px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.075); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: rgba(255, 255, 255, 0.678); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s; }
  .btn--animated {
    animation-name: MoveInBotton;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }

/*Configuração de fundo, altura, corte, cor, gradiente do header*/
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  /*posição do logo*/
  /*altura do logo*/
  /*Centraliza o caixa do header e button no centro da tela por meio do transform*/ }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -20%; }
